.rectangle {
    fill: steelblue;
}
.rectangle:hover {
    fill: orange;
}
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick text{

    font-size: 20px;

}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px;
    height: 500px;
    position: relative;
	font-size: 20px;
	align-content: center;
	}

html {

	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: ##F0FFFF; 
}
